@model QL_ChiTieu.Models.User

@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 style="font-weight:bolder">THAY ĐỔI MẬT KHẨU</h2>

@if (TempData["PasswordChanged"] != null && (bool)TempData["PasswordChanged"] == true)
{
    <p style="color: green;">Mật khẩu đã được thay đổi thành công.</p>
    <script>
        setTimeout(function () {
            window.location.href = '/Account/Login';
        }, 1500);
    </script>
}
else if (TempData["PasswordChanged"] != null && (bool)TempData["PasswordChanged"] == false)
{
    <p style="color: red;">Có lỗi xảy ra khi thay đổi mật khẩu: @TempData["error"]</p>
}

<form asp-action="ChangePassword" method="post">
    <div class="form-group">
        <label for="NewPassword" style="font-weight:700">Mật khẩu mới</label>
        <input type="password" class="form-control" id="NewPassword" name="NewPassword" style="width:300px" required>
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="ConfirmNewPassword" style="font-weight:700">Xác nhận mật khẩu</label>
        <input type="password" class="form-control" id="ConfirmNewPassword" style="width:300px" name="ConfirmNewPassword" required>
        <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
    </div>
    <input type="hidden" name="email" value="@ViewBag.Email" />
    <p></p>
    <button type="submit" class="btn btn-primary">Đổi mật khẩu</button>
</form>