@model QL_ChiTieu.ForgotPasswordModel

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

@{
    ViewData["Title"] = "ForgotPassword";
}

<style>
    body {
        background-color: #12161d;
    }

    .panel-body {
        text-align: center;
    }
</style>

<div class="container form-gap">
    <div class="row">
        <div class="col-md-4 mx-auto my-5">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <h3><i class="fa fa-lock fa-4x"></i></h3>
                        @if (Model?.EmailSent == true)
                        {
                            <div class="alert alert-success" role="alert">
                                <p>We have sent an email to your registered email address.</p>
                            </div>
                        }
                        else
                        {
                            <h2>Quên Mật Khẩu?</h2>
                            <hr />
                            <p>Nhập Email của bạn để chúng tôi gửi một mã xác nhận để đặt lại mật khẩu.</p>

                            @using (Html.BeginForm("ProcessEmail", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
                            {
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                        <input id="Email" name="Email" placeholder="Email address" class="form-control" type="email">
                                    </div>
                                </div>
                                <hr />
                                <div class="form-group">
                                    <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Reset Password" type="submit">
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}